html {
  boxing-sizing: border-box;
}

*
*:before,
*:after {
  boxing-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 45px;
  line-height: 68px;
  font-weight: 300;
}

h2 {
  font-size: 23px;
  line-height: 36px;
  font-weight: 600;
}

h3{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

h4 {  
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a:link {
 color: #006EBC;
 text-decoration: underline;
}

.banner {
  width: 106%;
  margin: -10px -5px 0px -5px;
}

.banner img {
  width: 80%
}

.intro {
  padding: 20px 40px 40px 40px;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
}

.user-test {
  border: 1px solid #cacaca;
  /*width: 195px;*/ 
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.prototype {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  height: 120px;
  overflow: hidden;
}

.prototype img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.user-test-text {
  padding: 5px;
}

.user-test-footer {
  background-color: #ededed;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px -2px -2px;
}


.button {
  padding: 5px 20px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #7469ba; /*TPR purple*/
  color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
}

.button:hover {
  background-color: #483b8b; /*TPR mid purple*/
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-colour: #3d3d3d;
  color: #ffffff;
}


/*TPR Colours*/

.purple { color: #483b8b } 
.mid-purple { color: #7469ba } 
.green { color: #ccdd500 }
.lighter-grey { color: #ededed }
.light-grey { color: #cacaca }
.mid-grey { color: #b0b0b0 }
.dark-grey { color: #585858 }
.darkest-grey { color: #3d3d3d }
.white { color: #ffffff }

.purple-bkg { background-color: #483b8b } 
.mid-purple-bkg { background-color: #7469ba } 
.green-bkg { background-color: #ccdd500 }
.lighter-grey-bkg { background-color: #ededed }
.light-grey-bkg { background-color: #cacaca }
.mid-grey-bkg { background-color: #b0b0b0 }
.dark-grey-bkg { background-color: #585858 }
.darkest-grey-bkg { background-color: #3d3d3d }


/*TPR Grid*/

.wrapper {
  max-width: 1440px;
  margin: 15px 165px 15px 165px;
}

.grid-item {
  margin: 30px 30px 30px 0;
  float: left;
}

.grid-item:last-child {
  margin-right: 0px;
}

/*
For when we get more tests and the user testing grid is more then one row eg: below would be 3 cols 3 rows
.grid-item: north-child(3n+3) {
  margin-right: 0;
  float: right;
}*/

.col-1.grid-item {
  width: 1100px;
  float: left;
}

.col-2-3rds.grid-item {
  width: 540px;
  float: left;
}

.col-3.grid-item {
  width: 255px;
  float: left;
}

.col-4.grid-item {
  width: 255px;
  float: left;
}

.col-12.grid-item {
  width: 65px;
  float: left;
}

.clear {
  clear: both;
}

/* Tablet  Grid */

@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 991px;
    margin: 14px 28px 14px 28px;
  } 

  .grid-item {
    margin-right: 28px;
    float: left;
  }
  
  .col-1 .grid-item {
    width: 652px;
    float: left;
  }

  .col-2 .grid-item {
    width: 316px;
    float: left;
  }

  .col-4 .grid-item {
    width: 178px;
    float: left;
  }

  .col-3-4ths .grid-item {
    width: 484px;
    float: left;
   }
}

/* Mobile  Grid */

@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 767px;
    margin: 8px 16px 8px 16px;
  } 

  .grid-item {
    margin-right: 16px;
    float: left;
  }
  
  .col-1 .grid-item {
    width: 320px;
    float: left;
  }

  .col-2 .grid-item {
    width: 152px;
    float: left;
  }

  .col-4 .grid-item {
    width: 68px;
    float: left;
  }

  .col-3-4ths .grid-item {
    width: 236px;
    float: left;
   }
}









/*.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
  margin: 0px 165px 0px 165px;
}

.container > div {
  padding: 20px 0;
}

div {
    display: inline;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.col2 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.col3 {
  grid-column-start: 1;
  grid-column-end: 4;

}

.col4 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.col1-3 {
  grid-column-start: 1;
  grid-column-end: 8;
  border: solid 1px yellow;

}

.col3-4 {
  grid-column-start: 1;
  grid-column-end: 9;
    border: solid 1px yellow;

}

@media screen and (max-width: 991px) {

.grid-container {
    display: grid;
    grid-gap: 28px;
    grid-template-column: auto auto auto auto auto auto auto auto;
    margin: 0px 38px 0px 38px;
  }
}

@media screen and (max-width: 767px) {
 .grid-container {
    display: grid;
    grid-gap: 16px;
    grid-template-column: auto auto auto auto;
    margin: 0px 20px 0px 20px;
  }
}

*/


