body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 45px;
  line-height: 68px;
  font-weight: 300;
}

h2 {
  font-size: 23px;
  line-height: 36px;
  font-weight: 600;
}

h3{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

h4 {  
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a:link {
 color: #006EBC;
 text-decoration: underline;
}

.banner {
  width: 100%;
  margin: -1px -1px 0px -1px;
}

.banner img {
  width: 100%
}

.intro {
  padding: 0px 40px 0px 40px;
  border-radius: 10px;
  margin: 80px 20px 20px 20px;
}

/*.user-tests {
  padding: 20px;
  margin: 10px;
}

.prototype {
  border: 1px solid #cacaca;
  border-radius: 10px; 
}

.img-container {
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}

.img-container img {
  width: 95%;
  height: auto;
  border-radius: 5px;
}*/


.button {
  corner-radius: 10px;
  border: none;
  padding: 5px 20px;
  display: inline-block;
  font-size: 19px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #483b8b; /*TPR mid purple*/
}

.footer {
margin: 0 auto;
background-colour: #3d3d3d;
}


/*TPR Colours*/

.purple { color: #483b8b } 
.mid-purple { color: #7469ba } 
.green { color: #ccdd500 }
.lighter-grey { color: #ededed }
.light-grey { color: #cacaca }
.mid-grey { color: #b0b0b0 }
.dark-grey { color: #585858 }
.darkest-grey { color: #3d3d3d }
.white { color: #ffffff }

.purple-bkg { background-color: #483b8b } 
.mid-purple-bkg { background-color: #7469ba } 
.green-bkg { background-color: #ccdd500 }
.lighter-grey-bkg { background-color: #ededed }
.light-grey-bkg { background-color: #cacaca }
.mid-grey-bkg { background-color: #b0b0b0 }
.dark-grey-bkg { background-color: #585858 }
.darkest-grey-bkg { background-color: #3d3d3d }


/*TPR Grid*/

.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  margin: 0px 165px 0px 165px;
}

.container > div {
  padding: 20px 0;
}

div {
    display: inline;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.col2 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.col3 {
  grid-column-start: 1;
  grid-column-end: 4;

}

.col4 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.col1-3 {
  grid-column-start: 1;
  grid-column-end: 8;
  border: solid 1px yellow;

}

.col3-4 {
  grid-column-start: 1;
  grid-column-end: 9;
    border: solid 1px yellow;

}




@media screen and (max-width: 991px) {

  .grid-container {
    display: grid;
    grid-gap: 28px;
    grid-template-column: auto auto auto auto auto auto auto auto;
    margin: 0px 38px 0px 38px;
  }
}

@media screen and (max-width: 767px) {

  .grid-container {
    display: grid;
    grid-gap: 16px;
    grid-template-column: auto auto auto auto;
    margin: 0px 20px 0px 20px;
  }
}


