


<head>

  <link rel="stylesheet" href="https://thepensionsregulator.github.io/user-research/Functionality-ABtest-Jan2021/TestA_CurrentFunctionality/css/gds-style.css">
<link rel="stylesheet" type="text/css" href="elements/css/main.css">
<link rel="stylesheet" href="https://thepensionsregulator.github.io/user-research/Functionality-ABtest-Jan2021/TestA_CurrentFunctionality/css/tpr-style.css">
    <link rel="stylesheet" href="https://thepensionsregulator.github.io/user-research/Functionality-ABtest-Jan2021/TestA_CurrentFunctionality/css/main.css">

  
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../elements/css/main.css">

  

  
</head>

<body>
<header>
  <div class="banner purple-bkg">
    <div class="wrapper">
        <img src="https://thepensionsregulator.github.io/user-research/elements/imgs/TPR_logo_strap.png">
      </div>
    </div>
</header>
  
  <nav>
    <div class="wrapper">
      <ul>
        <li><a href="../home.html">Getting started</a></li>
        <li><a href="../styles.html">Styles</a></li>
        <li><a href="../components.html">Components</a></li>
        <li><a href="../research.html">Research</a></li>
      </ul>
    </div>
  </nav>

<div class="wrapper">
  <div class="col-4">
    <div class="grid-item">
      <ul class="side-nav" >
        <li><strong>Design Components:</strong></li>
        <li><a href="../components/typography.html">Typography</a></li>
        <li><a href="../components/link.html">Link</a></li>
        <li><a href="../components/buttons.html">Buttons</a></li>
        <li><a href="../components/Text_input.html">Text Input</a></li>
        <li><a href="../components/radio-buttons.html">Radio Buttons</a></li>

        <!--<li><a href="../user-research/tests/start-button/background.html">Start button</a></li>-->

      </ul>
 
    </div>

  </div>
  
  
<div class="col-2-3rds">
    <div class="grid-item">


<h1>Text input<h1>

<p>The Pension Regulators components for text input feilds styles</a></p>
      
    
    <h3>Text filed</h3>

      <div style="border: 1px solid #CACACA; padding: 20px; margin: 10px 0px 20px 0px">
        
<div style="border-left: 5px solid #483B8B; padding-left: 15px; margin: 10px 0px 20px 0px"  ">        
                    <label>Address line 1</label>
                  <div class="elements_label__2-Zln globals_flexDirection-column__1sqJF globals_mt-1__1qb7I">
                    <div class="globals_flex__3XB_K globals_flex-0-0-auto__kX5yA globals_width-5__2z4-p">
                  <input type="text" data-testid="txtSchemeName" aria-label="Scheme name" class="input_inputText__1ECf-" name="schemeName" value="Grove House">
                    </div>
                  </div>
        </div>

      <p>You can copy and paste this code into the section of your prototype where your Heading 4 needs to appear:</p>
  
        <div style="background-color: #F5F5F5; padding: 20px; margin-top: 5px">

    <p style="font-family: courier; font-size: 12px; line-height: 14px">  
      
      
      
                          &lt;label&gt;Address line 1&lt;/label&gt;
                  &lt;div class=&quot;elements_label__2-Zln globals_flexDirection-column__1sqJF globals_mt-1__1qb7I&quot;&gt;
                    &lt;div class=&quot;globals_flex__3XB_K globals_flex-0-0-auto__kX5yA globals_width-5__2z4-p&quot;&gt;
                  &lt;input type=&quot;text&quot; data-testid=&quot;txtSchemeName&quot; aria-label=&quot;Scheme name&quot; class=&quot;input_inputText__1ECf-&quot; name=&quot;schemeName&quot; value=&quot;Grove House&quot;&gt;
                    &lt;/div&gt;

      
      &lt;p&gt;&lt;a href=&quot;https://www.your ling goes here.com &quot; &gt;Your text would go here.&lt;/a&gt;&lt;/p&gt;
      </p>
  </div>
 </div>
      
   


  
      

      
  </div>
  </div>
      </body>
